.navbar {
	position: fixed;
	z-index: 2;
	width: 100vw;
}

.navbar-container {
	background-color: rgb(206, 205, 205);
	margin-top: -10px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.navbar-nav a {
	font-size: 1.2em;
	margin-right: 8px;
	color: #5e17eb;
	font-weight: bold;
}

.navbar-nav a:hover {
	cursor: pointer;
	color: #310884;
}

main {
	width: 100%;
	height: auto;
}

main p {
	font-size: 2em;
	text-align: center;
	color: #5e17eb;
	font-weight: bold;
	margin-top: -100px;
}

.chatBox {
	cursor: pointer;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 10px 10px 0;
	background-color: #5e17eb;
	padding: 20px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-left: -15px;

	display: flex;
	align-items: flex-end;
}

.wave {
	z-index: -99;
	position: absolute;
	bottom: 0;
}

.wave img {
	width: 100vw;
}

/* ========= REPONSIVE BREAKPOINT ============= */

@media screen and (max-width: 786px) {
	.navbar-nav a {
		padding: 10px;
	}

	.showAllAppsArea {
		display: flex;
		justify-content: center;
		width: 70%;
	}

	.navbar-container img {
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 525px) {
	.chatBox {
		padding: 20px;
	}
	.apps-area {
		margin-top: 10px;
	}
	.search-area {
		margin-top: -100px;
	}
}

@media screen and (max-width: 425px) {
	main p {
		font-size: 0.9em;
	}
}
