* {
	scroll-behavior: smooth;
}

.navbar {
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100vw;
}

.navbar-container {
	background-color: rgb(206, 205, 205);
	margin-top: -10px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.navbar-nav a {
	font-size: 1.2em;
	margin-right: 8px;
	color: #5e17eb;
	font-weight: bold;
}

.navbar-nav a:hover {
	cursor: pointer;
	color: #310884;
}

.chatBox {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 100px;
	background-color: #5e17eb;
	padding: 20px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	margin-left: -15px;

	display: flex;
	align-items: flex-end;
}

.search-area {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.search-bar {
	width: 70%;
	padding: 15px;
	border-radius: 50px;
	background-color: white;
}

.btn-search {
	background-color: #5e17eb;
	border-radius: 50px;
	color: white;
	padding: 10px 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out all;
}

.btn-search:hover {
	background-color: #5e17eb;
	border-radius: 50px;
	color: white;
	padding: 10px 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(10deg);
}

.container-body {
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	position: relative;
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 10% 15% 15% 15%;
}

main h1,
main img,
main p {
	padding: 5px;
}

main h1 {
	text-align: center;
	font-weight: bold;
}

main p {
	font-size: 1.2em;
	text-align: justify;
}

aside {
	height: 100vh;
	display: flex;
	top: 0;
	justify-content: center;
	align-items: center;
	z-index: 3;
	position: fixed;
}

#title-sidebar {
	color: #5e17eb;
	text-transform: uppercase;
}

#data-sidebar {
	list-style: none;
	width: 100%;
}

#data-sidebar li {
	padding: 10px 0;
	transition: all ease-in-out 0.2s;
}

#data-sidebar li:hover {
	padding-left: 10px;
	border-left: 1px solid #5e17eb;
}

#data-sidebar a {
	text-decoration: none;
	color: #310884;
	font-weight: bolder;
}

.dataShow {
	display: flex;
	justify-content: center;
	align-items: center;
}

aside .btn {
	background-color: #5e17eb;
	padding: 10px 15px 5px 15px;

	transition: all ease-in-out 0.2s;
}
aside .btn:hover {
	background-color: #5e17eb;
	transform: rotate(180deg);
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
	padding: 3px;
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #5e17eb;
}

::-webkit-scrollbar-corner {
	border-radius: 30%;
}

footer {
	width: 100vw;
	background-color: #5e17eb;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
}

footer a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	width: 50%;
}

.logo img {
	width: 50%;
	height: auto;
}

/* ========= REPONSIVE BREAKPOINT ============= */

@media screen and (max-width: 986px) {
	main {
		margin-top: 5%;
	}
}

@media screen and (max-width: 786px) {
	.navbar-nav a {
		padding: 10px;
	}
	main {
		margin-top: 10%;
	}

	.navbar-container img {
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 525px) {
	.apps-area {
		margin-top: 10px;
	}
	.search-area {
		margin-top: -100px;
	}
	main {
		margin-top: 15%;
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 60vh;
		width: 100vw;
	}

	.logo img {
		width: 100%;
		height: auto;
	}

	.logo h3 {
		font-size: 0.9em;
	}
}
